@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);
body{
    font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
}
.navbar{
    font-weight: 500;
}
.navbar{
    box-shadow: none;
  }
.jumbotron{
    box-shadow: none;
  }
